*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#card{
    background-color: #9c0d4d;
    /* background-color: #9c0d6f; */
    height: 300px;
    width: 500px;
    margin: 10px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* color: rgb(211, 228, 237); */
    /* align-items: center; */
    overflow: hidden;
    font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #d2cdcd;
}

#acn{
    margin-top: 10px;
    font-size: 28px;
    /* display: flex;
     align-self: center; */
}

#cdnm{
    margin-left: 40px;
    font-size: 25px;
}

h2{
    font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin-left: 40px;
  /* color: #6d6666; */
  /* z-index: 1; */
}

.mc{
    width: 250px;
    height: 150px;
    display: flex;
    align-self: center;

}

media (max-width: 800px){

    #card{
        height: 161px;
        width: 80%;
        font-size: 20px;
    }

    .mc{
        width: 100px;
        height: 60px;
    }
    h2{
        margin-left: 15px;
        font-size: 20px;
    }
    #acn{
        font-size: 20px;
    }
    #cdnm{
        font-size: 20px;
        margin-left: 15px;
    }
}
